In [1]:
#-m pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\shampa\anaconda3\envs\pythondata\lib\site-packages (2.8.6)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.2.3; however, version 20.2.4 is available.
You should consider upgrading via the 'C:\Users\Shampa\anaconda3\envs\PythonData\python.exe -m pip install --upgrade pip' command.

In [5]:
import pandas as pd
import sqlalchemy
import pprint
import psycopg2
import matplotlib.pyplot as plt

In [8]:
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/employee_database')
connection = engine.connect()

In [10]:
departments = pd.read_sql('select * from departments', connection)
departments

                                             dept_no           dept_name
0  d001                                          ...           Marketing
1  d002                                          ...             Finance
2  d003                                          ...     Human Resources
3  d004                                          ...          Production
4  d005                                          ...         Development
5  d006                                          ...  Quality Management
6  d007                                          ...               Sales
7  d008                                          ...            Research
8  d009                                          ...    Customer Service