# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

gmaps.configure(api_key=g_key)
figure_layout = {'width': '400px',
                'height': '400px',
                'border': '1px solid black',
                'padding': '1px'}

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
cities_weather_file = "output_data/cities.csv"

# Read the cities data:

cities_weather_df = pd.read_csv(cities_weather_file)

cities_weather_df

,city,City ID,Country,Latitude,Longitude,Date,Cloudiness,Humidity,Temperature at Date,Max Temp to Date,Wind Speed
0,Bushehr,139817,IR,28.97,50.84,1603515172,0,57,24.00,24.00,2.25
1,Atuona,4020109,PF,-9.80,-139.03,1603514922,1,77,25.83,25.83,8.37
2,Dongsheng,1812256,CN,39.82,109.98,1603515173,58,39,12.45,12.45,6.63
3,Ponta do Sol,2264557,PT,32.67,-17.10,1603515092,40,63,15.85,18.00,4.10
4,Laas,3175096,IT,46.62,10.70,1603515173,90,100,8.80,11.11,1.27
...,...,...,...,...,...,...,...,...,...,...,...
561,Port Blair,1259385,IN,11.67,92.75,1603515298,44,72,29.42,29.42,4.66
562,Pokhara,1282898,NP,28.23,83.98,1603515298,0,36,26.45,26.45,1.89
563,Varkala,1253392,IN,8.73,76.71,1603515298,20,62,31.00,31.00,3.10
564,Fereydūnkenār,134602,IR,36.69,52.52,1603515299,40,87,15.00,15.00,1.00
565,Anloga,2304548,GH,5.79,0.90,1603515052,20,88,26.00,26.00,3.10

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:
# Store Latitude and Longitude into locations

locations = cities_weather_df[["Latitude", "Longitude"]].astype(float)

# Humidity

humidity_cities = cities_weather_df["Humidity"].astype(float)

#Humidity heatmap layer

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity_cities,
                                dissipating=False, max_intensity=100,
                                point_radius = 4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Humidity

humidity_layer = gmaps.symbol_layer(locations, fill_color='rgba(0, 150, 0, 0.4)', 
                                   stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
                                   info_box_content=[f"Humidity: {humidity}" for humidity in humidity_cities])

fig = gmaps.figure()
fig.add_layer(humidity_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [19]:
cities_weather_df

,city,City ID,Country,Latitude,Longitude,Date,Cloudiness,Humidity,Temperature at Date,Max Temp to Date,Wind Speed
0,Bushehr,139817,IR,28.97,50.84,1603515172,0,57,24.00,24.00,2.25
1,Atuona,4020109,PF,-9.80,-139.03,1603514922,1,77,25.83,25.83,8.37
2,Dongsheng,1812256,CN,39.82,109.98,1603515173,58,39,12.45,12.45,6.63
3,Ponta do Sol,2264557,PT,32.67,-17.10,1603515092,40,63,15.85,18.00,4.10
4,Laas,3175096,IT,46.62,10.70,1603515173,90,100,8.80,11.11,1.27
...,...,...,...,...,...,...,...,...,...,...,...
561,Port Blair,1259385,IN,11.67,92.75,1603515298,44,72,29.42,29.42,4.66
562,Pokhara,1282898,NP,28.23,83.98,1603515298,0,36,26.45,26.45,1.89
563,Varkala,1253392,IN,8.73,76.71,1603515298,20,62,31.00,31.00,3.10
564,Fereydūnkenār,134602,IR,36.69,52.52,1603515299,40,87,15.00,15.00,1.00
565,Anloga,2304548,GH,5.79,0.90,1603515052,20,88,26.00,26.00,3.10

In [28]:
perfect_city_df = cities_weather_df.loc[(cities_weather_df["Max Temp to Date"] >= 25)
                                        & (cities_weather_df["Max Temp to Date"] <= 30)
                                        & (cities_weather_df["Cloudiness"] == 0)
                                        & (cities_weather_df["Wind Speed"] <= 10)]
                
perfect_city_df = perfect_city_df.dropna(how='any')

perfect_city_df.reset_index(inplace=True)

del perfect_city_df['index']

len(perfect_city_df)

perfect_city_df

,city,City ID,Country,Latitude,Longitude,Date,Cloudiness,Humidity,Temperature at Date,Max Temp to Date,Wind Speed
0,Carnarvon,2074865,AU,-24.87,113.63,1603515008,0,54,26.00,26.00,7.20
1,Salalah,286621,OM,17.02,54.09,1603515185,0,29,25.00,25.00,1.50
2,Macapá,3396016,BR,0.04,-51.07,1603515200,0,83,27.00,27.00,2.60
3,Talāja,1255175,IN,21.35,72.05,1603515209,0,62,29.00,29.00,2.60
4,Mīnāb,123941,IR,27.15,57.08,1603515212,0,17,29.00,29.00,2.10
5,Nizwá,286987,OM,22.93,57.53,1603515090,0,14,28.38,28.38,2.15
6,Araouane,2460954,ML,18.90,-3.53,1603515218,0,14,29.27,29.27,2.72
7,Aden,415189,YE,12.78,45.04,1603515134,0,60,29.08,29.08,3.73
8,Dera Bugti,1180295,PK,29.03,69.15,1603515244,0,13,28.33,28.33,2.15
9,Sur,286245,OM,22.57,59.53,1603515249,0,46,28.47,28.47,6.43
10,Port Hedland,2063042,AU,-20.32,118.57,1603515113,0,54,29.00,29.00,8.20
11,Abu Dhabi,292968,AE,24.47,54.37,1603514489,0,61,24.70,26.00,2.10
12,Perth,2063523,AU,-31.93,115.83,1603515041,0,29,27.05,28.89,6.20
13,Ambilobe,1082243,MG,-13.20,49.05,1603515294,0,39,28.83,28.83,3.11
14,Pokhara,1282898,NP,28.23,83.98,1603515298,0,36,26.45,26.45,1.89

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [32]:
hotel_df = []

# Latitude and Longitude

for index, row in perfect_city_df.iterrows():
    
    lat = row["Latitude"]
    lon = row["Longitude"]
    
    # parameters
    
    target_coordinates = f"{lat},{lon}"
    target_radius = 5000
    target_type = "hotel"
    
    params = {
        "location": target_coordinates,
        "radius": target_radius,
        "type": target_type,
        "key": g_key
    }

    # base_url
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # run a request using our params dictionary
    response = requests.get(base_url, params=params)
    hotel_data = response.json()

    #print(json.dumps(hotel_data, indent=4, sort_keys=True))
    
    try:
        hotel_df.append(hotel_data['results'][0]['name'])
    
    except:
        hotel_df.append("") 

perfect_city_df["First Hotel Name"] = hotel_df

perfect_city_df = perfect_city_df.dropna()

perfect_city_df

,city,City ID,Country,Latitude,Longitude,Date,Cloudiness,Humidity,Temperature at Date,Max Temp to Date,Wind Speed,First Hotel Name
0,Carnarvon,2074865,AU,-24.87,113.63,1603515008,0,54,26.00,26.00,7.20,Carnarvon
1,Salalah,286621,OM,17.02,54.09,1603515185,0,29,25.00,25.00,1.50,Salalah
2,Macapá,3396016,BR,0.04,-51.07,1603515200,0,83,27.00,27.00,2.60,Macapá
3,Talāja,1255175,IN,21.35,72.05,1603515209,0,62,29.00,29.00,2.60,Talaja
4,Mīnāb,123941,IR,27.15,57.08,1603515212,0,17,29.00,29.00,2.10,Minab
5,Nizwá,286987,OM,22.93,57.53,1603515090,0,14,28.38,28.38,2.15,Nizwa
6,Araouane,2460954,ML,18.90,-3.53,1603515218,0,14,29.27,29.27,2.72,Araouane
7,Aden,415189,YE,12.78,45.04,1603515134,0,60,29.08,29.08,3.73,Aden
8,Dera Bugti,1180295,PK,29.03,69.15,1603515244,0,13,28.33,28.33,2.15,Dera Bugti
9,Sur,286245,OM,22.57,59.53,1603515249,0,46,28.47,28.47,6.43,Sur
10,Port Hedland,2063042,AU,-20.32,118.57,1603515113,0,54,29.00,29.00,8.20,Port Hedland
11,Abu Dhabi,292968,AE,24.47,54.37,1603514489,0,61,24.70,26.00,2.10,Abu Dhabi
12,Perth,2063523,AU,-31.93,115.83,1603515041,0,29,27.05,28.89,6.20,Perth
13,Ambilobe,1082243,MG,-13.20,49.05,1603515294,0,39,28.83,28.83,3.11,Ambilobe
14,Pokhara,1282898,NP,28.23,83.98,1603515298,0,36,26.45,26.45,1.89,Pokhara

In [36]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{First Hotel Name}</dd>
<dt>city</dt><dd>{city}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in perfect_city_df.iterrows()]
locations = perfect_city_df[["Latitude", "Longitude"]]

In [37]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(markers)

fig

# Display figure

Figure(layout=FigureLayout(height='420px'))